<div class="status_running_show">
  <div class="status_text"><%= @year.status %></div>
</div>
<div><h1>Miss France <%= @year.year %></h1></div>

Créer un groupe

<%= simple_form_for([@year, @group]) do |f| %>
  <%= f.input :name %>
  <%= f.button :submit, "Valider"%>
<% end %>
<%= render "shared/bottombar" %>
