<div class="bottom_bar">
  <div class="bottom_item">
    <%= link_to year_path(@year) do %>
        <div class="icon">
          <div class="picto"><%= image_tag "bottomcrown.svg" %></div>
          <div>Miss France <%= @year.year %></div>
        </div>
    <% end %>
  </div> <!-- Corrected closing tag -->
  <div class="bottom_item">
    <%= link_to year_misses_path(@year) do %>
        <div class="icon">
          <div class="picto"><%= image_tag "bottommiss.svg" %></div>
          <div>Les miss <br><%= @year.year %></div>
        </div>
    <% end %>
  </div> <!-- Corrected closing tag -->
    <div class="bottom_item">
    <%= link_to myclassement_year_path(@year) do %>
        <div class="icon">
          <div class="picto"><%= image_tag "bottomclassement.svg" %></div>
          <div>Mes classements</div>
        </div>
    <% end %>
  </div> <!-- Corrected closing tag -->
    <div class="bottom_item">
    <%= link_to realclassement_year_path(@year) do %>
        <div class="icon">
          <div class="picto"><%= image_tag "bottomcrown.svg" %></div>
          <div>Les résultats</div>
        </div>
    <% end %>
  </div> <!-- Corrected closing tag -->
</div>
