<h3>Choisir une miss</h3>
<% if myfifteen.errors.any? %>
  <div class="alert alert-danger">
    <%= myfifteen.errors.full_messages.to_sentence %>
  </div>
<% end %>

<%= form_tag new_year_myfifteen_path(@year), method: :get do %>
  <%= select_tag 'category', options_for_select(@categories, @selected_category), include_blank: 'Select category' %>
  <%= submit_tag 'Filter' %>
<% end %>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>

<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <% @misses.each do |miss| %>
      <div class="carousel-item <%= 'active' if miss == @misses.first %>">
        <div class="avatar-item">
          <%= miss.region %>
          <%= image_tag "#{miss.photo}.jpg"%>
          <div class="m-5">
            <%= simple_form_for([@year, @myfifteen]) do |f| %>
            <%= f.input :my_miss_france_guess, as: :boolean, label: "C'est elle la Miss France!" %>
            <%= f.hidden_field :miss_id, value: miss.id %>
            <%= f.button :submit, "Valider" %>
          </div>
    <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
