<div>
  <h1>Mon top 15</h1>



  <%= turbo_frame_tag "myfifteens" do %>
    <%= render @myfifteens %>
  <% end %>

  <% (15 - @myfifteens.count).times do %>
    <div>
      <%= link_to new_year_myfifteen_path(@year), remote: true, data: { turbo_frame: "modal" } do %>
        <%= image_tag "add_miss.svg" %>
      <% end %>
    </div>
  <% end %>
</div>

<%= link_to "Valider", myfifteens_others_year_path(@year) %>
