<div>
  <h1>Mon top 15</h1>
  <%= turbo_frame_tag "myfifteens" do %>
    <div class="my_fifteen_list">
      <%= render @myfifteens %>
      <% (15 - @myfifteens.count).times do %>
        <%= link_to new_year_myfifteen_path(@year), remote: true, data: { turbo_frame: "modal" } do %>
          <div class='add_fifteen'>
            <%= image_tag "add_miss.svg" %>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>

<%= link_to "Valider", myfifteens_others_year_path(@year) %>
<%= render "shared/bottombar" %>
