<div>
  <h1>Mon top 15</h1>

  <div id="myfifteens">
    <%= render @myfifteens %>
  </div>

  <% (15 - @myfifteens.count).times do %>
    <div>
      <%= link_to new_year_myfifteen_path(@year), data: { turbo_frame: "modal" } do %>
        <%= image_tag "add_miss.svg" %>
      <% end %>
    </div>
    <%# <%= turbo_frame_tag "new_myfifteen"%> 
  <% end %>



  <a href="">Valider</a>

</div>

<div class="dn">
  <h1>Et les autres ?</h1>
  <% @this_year_groups.each do |group| %>
    <ul>
      <%= group.name %>
      <% group.group_users.reject { |group_user| group_user.user == current_user }.each do |group_user| %>
        <%= group_user.user.pseudo %>
        <%= group_user.user.photo %>
        <% @user_top_15 = Myfifteen.where(user_id: group_user.user_id).pluck(:miss_id).uniq%>
        <% if @user_top_15 == [] %>
          En attente du top 15
        <% else %>
        <% common_elements = @my_top_15 & @user_top_15 %>
        Vous avez <%= common_elements.count %> miss en commun
          <% unless Miss.where(id: Myfifteen.where(user_id: group_user.user_id,my_miss_france_guess: "1" )).empty? %>
            <%= image_tag "pink_crown.svg" %> <%= Miss.where(id: Myfifteen.where(user_id: group_user.user_id,my_miss_france_guess: "1" ).last.miss_id).last.region%>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  <% end %>
</div>
