<h1>Les miss</h1>

<div data-controller="autocomplete-search">
  <div>
    <div>
      <div>
        <%= form_with url: year_misses_path, method: :get, html: { data: {autocomplete_search_target: 'form'}} do%>
        <%= text_field_tag :query,
        params[:query],
        placeholder: "Rechercher une miss",
        data: { autocomplete_search_target: 'input', action: "keyup->autocomplete-search#autocomplete" }%>
      </div>
      <div>
        <%= button_tag(type: "submit") do %>
          <i class="fa-solid fa-magnifying-glass fa-2xl"></i>
        <% end %>
      </div>
      <% end %>

<%= turbo_frame_tag "misses_list" do %>
  <%= render "misses/list" %>
<% end %>

<h3>Mes miss catégorisées</h3>
<br>
<%= turbo_frame_tag "categorys" do %>
  <%= render @categories %>
<% end %>

<%= render "shared/bottombar" %>
