<h1>Les miss</h1>

<div data-controller="autocomplete-search">
  <div>
    <div>
      <div>
        <%= form_with url: year_misses_path, method: :get, html: { data: {autocomplete_search_target: 'form'}} do%>
        <div class="search">
          <%= text_field_tag :query,
          params[:query],
          placeholder: "Rechercher une miss...",
          class: "miss-search-input",
          data: { autocomplete_search_target: 'input', action: "keyup->autocomplete-search#autocomplete" }%>
          <%= button_tag(type: "submit", class: "search-button") do %>
              <%= image_tag "search.svg" %>
          <% end %>
        </div>
      </div>
      <% end %>

<%= turbo_frame_tag "misses_list" do %>
  <%= render "misses/list" %>
<% end %>

<hr>

<%= turbo_frame_tag "categorys" do %>
  <%= render @categories %>
<% end %>

<%= render "shared/bottombar" %>
