<div data-controller="emoji-selection">

  <div class="category_popin">
    <div class="modal_close_button" data-action="click->emoji-selection#close">
      <%= image_tag "cross.svg", style: 'margin-right:15px' %>
    </div>
    <div class="new_category_title"><%= @miss.region.upcase %></div>
    <div class="category_img"><%= image_tag "#{@miss.photo}.jpg", style: 'height:182px;width:182px;border-radius:50%;margin-top:20px;margin-bottom:20px'%></div>
    <div class="category_name"><h5><%= @miss.first_name %> <%= @miss.last_name %></h5></div>
    <div class="miss_critere">
      <div class="miss_age">
        <%= image_tag "birthday.svg", style: 'margin-right:15px' %>
        <div class="miss_details"><%= @miss.age%></div>
        </div>
      <div class="miss_age">
        <%= image_tag "size.svg", style: 'margin-right:15px'  %>
        <div class="miss_details"><%= @miss.height %></div>
        </div>
    </div>
  </div>


  <%= simple_form_for([@year, @miss, @category]) do |f| %>
    <div class="picto">
    <% Category::CATEGORIES.each_with_index do |category, index| %>
        <label class="emoji-selection-label" data-emoji-selection-target="label" data-action="click->emoji-selection#select">
          <%= f.radio_button :critere, category, id: "critere_#{index}", class: 'hidden-radio-button' %>
          <span><%= category_emoji(category) %></span>
        </label>
    <% end %>
    </div>
    <div class="category_button"><%= f.button :submit, "Valider", class: "main_button" %></div>
  <% end %>
</div>
