<h1>Bienvenue <%= current_user.pseudo %></h1>

<% if @years.count > 1 %>
  <% @sorted_years.each do |year| %>
    <ul>
      Miss France <%= year.year %>
      <%= year.date.strftime("%e %B %Y") %>
      <%= year.status %>
      <%= link_to "voir", year_path(year) %>
    </ul>
  <%end %>
<% else %>
  Miss France <%= @years.first.year %>
  <%= @years.first.date.strftime("%e %B %Y") %>
  <%= @years.first.status %>
  <%= link_to "voir", year_path(@years.first) %>
  <p>Vous n’avez pas d’autres élections dans votre historique</p>
<% end %>
