
<% if @year.status == "en cours" %>
  <div class="status_running_show">
    <div class="status_text"><%= @year.status %></div>
  </div>
  <div><h1>Miss France <%= @year.year %></h1></div>

  <h4>Mes groupes</h4>
  <div class="list_of_groups">
    <% @this_year_groups.each do |group| %>
      <%= link_to year_group_path(@year, group) do %>
        <div class="card_group">
          <div>
            <h5><%= group.name %></h5>
          </div>
        </div>
      <% end %>
    <% end %>
    <%= link_to "Créer un groupe", new_year_group_path(@year), class: "main_button"%>
  </div>

<% else %>
  <h1>Miss France <%= @year.year %></h1>
  <div class="status_running">
    <div class="status_text"><%= @year.status %></div>
  </div>
  <i class="fa-solid fa-crown"></i> Miss <%= @winner%>
  <% @this_year_groups.each do |group| %>
    <ul>
      <%= group.name %>
      <% @scores = [] %>
      <% group.group_users.each do |group_user| %>
        <% @scores << Score.where(year_id:@year.id, user_id: group_user.user_id).to_a %>
      <% end %>
      <% @sorted_scores = @scores.sort_by { |score| - score.last.points } %>
      <% @sorted_scores.each do |score| %>
        <ul>
          <li><%=score.last.user.pseudo %> <%=score.last.points %> PTS</li>
        </ul>
      <% end %>
    </ul>
  <% end %>
<% end %>
<%= render "shared/bottombar" %>
